@charset "UTF-8";
.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gothic-a1-regular {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* { 
	margin:0; 
	padding:0; 
	box-sizing:border-box; 
	font-family: "Jua";
}
	  
body { 
	background:#ffffff; 
	color:#333; 
}

/* 헤더 */
header {
  	width:100%;
  	height:70px;
  	display:flex;
  	justify-content: space-between;
  	align-items:center;
  	padding:0 50px;
  	position:fixed;
  	top:0;
  	z-index:100;
  	background:transparent;
  	transition: all 0.4s ease;
}

header.scrolled {
	background:#fff;
	box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

/* 헤더 로고 */
header .logo {
	font-family: "Jua";
  	font-size:28px;
  	font-weight:bold;
  	color:#c89f6d;
  	opacity:0;
  	transition:opacity 0.4s ease;
}
header.scrolled .logo {
	opacity:1;
}

/* 헤더 검색창 */
.header_search {
	display:flex;
	align-items:center;
	position:relative;
	opacity:0;
	visibility:hidden;
	transition: opacity 0.4s, visibility 0.4s;
	font-family: "Gothic A1";
}

header.scrolled .header_search {
	opacity:1;
	visibility:visible;
}

.header_search input {
	width: 490px;
	height:36px;
	border:1px solid #c89f6d;
	border-radius:18px;
	padding:0 40px 0 15px;
	font-size:15px;
	font-family: "Gothic A1";
}

.header_search button {
	position:absolute;
	right:5px;
	top:50%;
	transform:translateY(-50%);
	background:#f1f1f1;
	border:none;
	border-radius:50%;
	width:28px;
	height:28px;
	cursor:pointer;
}

/* 헤더 버튼 */
.h_buttons {
	display:flex;
	gap:10px;
}
.h_buttons button {
	width:80px;
	padding:10px;
	border:none;
	border-radius:5px;
	background:#c89f6d;
	color:#fff;
	cursor:pointer;
	font-size:14px;
}
.h_buttons button:hover { background:#b0804c; }



/* 메인 영역 */
.container_box {
	margin-top:100px;
	width:100%;
	text-align:center;
}

.logo_main {
	font-family: "Jua";
  	font-size:80px;
  	font-weight:bold;
  	color:#c89f6d;
  	text-align:center;
  	margin-top:180px;
}

/* 메인 검색창 */
.search_bar {
	 box-shadow: 0 4px 10px rgba(0,0,0,0.08);
	display:flex;
	justify-content:center;
	align-items:center;
	border:3px solid #c89f6d;
	border-radius:25px;
	width:700px;
	height:50px;
	margin:30px auto;
	padding:15px 15px;
	transition:0.3s;
	background-color:#fff;
}
.search_bar:hover {
	border-color:#666;
}
.search_bar input {
	font-family: "Gothic A1";
	flex:1;
	border:none;
	outline:none;
	font-size:17px;
}
.search_bar button {
	border:none;
	background:none;
	cursor:pointer;
	font-size:20px;
	color:#c89f6d;
}
.keyword_bar {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 10px;
}

.keyword_box {
	font-family: "Jua";
 	padding:10px;
  	height: 40px;       /* 세로 길이, 1:2 비율 */
  	background-color: #f0f0f0;
  	border-radius: 12px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	cursor: pointer;
  	transition: background-color 0.3s;
}

.keyword_box:hover {
  	background-color: #e0e0e0;
}
/* 바로가기 아이콘 */
.sub_bar {
	display: flex;
  	justify-content: center;
  	gap: 70px;
  	margin-top: 30px;
}

.shortcut {
	width: 80px;
	height: 80px;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: background-color 0.3s;
}
.shortcut:hover {
	background: #d0d0d0;
}

.shortcut_icon {
  font-size: 28px; /* 아이콘 크기 */
  margin-bottom: 6px;
}

.shortcut_label {
  font-size: 14px;
  color: #333;
}


/*previewArea*/
.preview_Area{
	width:100%;
	height: 500px;
	border : 1px solid blue;
	margin-top:190px;
}